@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.redirect-message {
  font-size: 1rem;
  color: #777;
}
.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}